.description {
  padding: 20px;
  margin: 20px;
}
.job-profile {
  padding: 20px;
  margin: 30px;
  justify-content: center;
  height: 200px;
}
.card {
  background-color: rgb(249, 247, 247);
}
.card-profile {
  margin-top: 200;
}
